@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #44b492;
  --color-secondary: #f0f0f0;
  --color-secondary-dark: rgba(15, 17, 17, 1);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  @font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  /* 1pc <- 0,423cm*/

  html,
  body,
  #root > div {
    @apply h-full w-full flex flex-col;
  }

  html,
  body,
  #root > div {
    font-family: 'Quicksand', sans-serif;
    color: #313b4a;
    font-size: 17px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal m-[1.5rem] ml-0 mr-0 mb-4;
  }

  /* middling everything */

  .wrap {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
  }

  #header #mobile-nav {
    display: none;
  }
  #header #mobile-nav,
  #header #nav {
    flex: 1 auto;
    text-align: right;
  }

  div#header div#nav li,
  div#header div#mobile-nav li {
    display: inline-block;
  }
  div#header div#nav li a,
  div#header div#nav li a:active {
    transition: color 0.1s;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 1pc;
    text-decoration: none;
  }
  div#header div#mobile-nav li a,
  div#header div#mobile-nav li a:active {
    transition: color 0.1s;
    font-size: 1.3rem;
    margin-left: 1.3rem;
    text-decoration: none;
  }

  div#header div#nav li a:hover,
  div#header div#nav li a:focus,
  div#header div#nav li a[class='active'],
  div#header div#mobile-nav li a:hover,
  div#header div#mobile-nav li a:focus {
    color: #65d09b;
  }

  /* content */
  .main-container {
    flex: 1 auto;
    overflow: auto;
  }
  div.content {
    font-size: 1rem;
    line-height: 1.75;
    padding: 20px;
  }

  div.content p,
  div.content ul {
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  div.content li {
    margin-left: 1.1rem;
  }

  div.content a,
  div.content a:active {
    transition: color 0.1s;
    color: #44b492;
  }

  div.content a:focus,
  div.content a:hover {
    color: #44b492;
  }

  .highlight {
    background-color: #f0f2f2;
    padding: 3rem 0 4rem 0;
    margin-top: 3rem;
  }
  .highlight h2 {
    margin-top: 0;
  }

  /* show case */

  div.showcase {
    padding: 4rem 0;
    text-align: center;
    padding-bottom: 0 !important;
    margin-bottom: 3rem;
  }
  div.content img {
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 15px 3px #54545433;
  }
  div.showcase h1 {
    line-height: 1.45;
    margin-top: 0;
    margin-bottom: 3rem;
  }
  div.showcase h1 > strong {
    font-weight: 900;
  }
  div.showcase h1 > strong:nth-last-child(-n + 3) {
    color: #44b492;
  }
  .showcase .overview-bar {
    position: relative;
    padding: 1rem;
    margin-top: -10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    flex-wrap: wrap;
  }
  .showcase .overview-bar .item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .showcase .overview-bar .item i {
    margin-right: 0.8rem;
    opacity: 0.8;
    font-size: 0.8em;
    text-decoration: none;
  }
  .showcase .overview-bar .item:first-child {
    color: #44b492;
  }

  /* other sections */

  .full-features-demo {
    margin-top: 2rem;
  }

  img.skin-variant-demo {
    border-radius: 5px;
    margin-top: 1rem;
  }

  /* links */

  ul.links {
    margin-bottom: 0;
  }

  ul.links li {
    display: inline-block;
    margin-right: 1rem;
    margin-left: 0;
  }

  /* tibit */
  ul.links li.bd-tib-btn a,
  a {
    cursor: pointer;
  }
  ul.links li.bd-tib-btn .posttib,
  ul.links li.bd-tib-btn.tibbed .pretib {
    display: none;
  }
  ul.links li.bd-tib-btn.tibbed .posttib {
    display: block;
  }
  ul.links li.bd-tib-btn.tibbed a {
    pointer-events: none;
    cursor: auto;
  }
  ul.links li.bd-tib-btn.tibbed a [class^='icon-'] {
    background-color: #a7c7a7;
  }

  a.download-button {
    color: #f0f2f2 !important;
    background-color: #596473;
    padding: 6px 20px;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 6px;
    display: inline-block;
    text-decoration: none;
  }
  .download-button i {
    margin-right: 1rem;
  }

  /* footer */

  div#footer {
    margin-top: 5rem;
    color: white;
    padding: 2.5rem 0;
    line-height: 2rem;
    overflow: hidden;
    background-color: #2d7962;
    font-size: 0.85rem;
  }

  #footer .wrap {
    display: flex;
    align-items: center;
  }
  #footer .footer-content {
    flex: 1 auto;
  }

  div#footer a {
    color: white;
  }

  .image-logo {
    width: auto;
  }

  div#footer img.logo {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding: 0.8rem;
    margin-left: 2rem;
  }

  /*
-------------------------
*/

  @media screen and (max-width: 800px) {
    html,
    body,
    #root > div {
      font-size: 13px;
    }
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.5rem;
      margin-top: 2rem;
    }

    #header #nav {
      display: none;
    }
    #header #mobile-nav {
      display: inline-block;
    }
    #header .logo {
      width: 110px;
      height: 30px;
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .readme-of-plugin h1 {
    @apply text-primary text-xl font-bold mb-4;
  }

  .readme-of-plugin h2 {
    @apply font-bold mb-4;
  }

  .readme-of-plugin code,
  .readme-of-plugin pre {
    @apply text-sm p-1 rounded-sm bg-gray-700 overflow-hidden;
  }

  .readme-of-plugin {
    @apply overflow-hidden;
  }

  .readme-of-plugin a {
    @apply text-primary;
  }

  #banner {
    @apply sticky bottom-0;
  }
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}

[aria-current="page"] {
  @apply bg-primary bg-none;
}
