@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* 1pc <- 0,423cm*/

html, body, #root{
  @apply h-full w-full overflow-hidden flex flex-col;
}

html, body, #root {
  font-family: 'Quicksand',sans-serif;
  color: #313b4a;
  font-size: 17px;
}

h1,h2,h3,h4,h5,h6 {
  @apply font-normal m-[1.5rem] ml-0 mr-0 mb-4;
}


/* middling everything */

.wrap {
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0 1rem;
  margin: 0 auto;
  position: relative;
}


#header #mobile-nav {
  display: none;
}
#header #mobile-nav,
#header #nav {
  flex: 1 auto;
  text-align: right;
}

div#header div#nav li,
div#header div#mobile-nav li {
  display: inline-block;
}
div#header div#nav li a,
div#header div#nav li a:active {
  transition: color .1s;
  color: #555;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 1pc;
  text-decoration: none;
}
div#header div#mobile-nav li a,
div#header div#mobile-nav li a:active {
  transition: color .1s;
  color: #555;
  font-size: 1.3rem;
  margin-left: 1.3rem;
  text-decoration: none;
}

div#header div#nav li a:hover,
div#header div#nav li a:focus,
div#header div#nav li a[class="active"],
div#header div#mobile-nav li a:hover,
div#header div#mobile-nav li a:focus {
  color: #65d09b;
}

/* content */
.main-container {
  flex: 1 auto;
  overflow: auto;
}
div.content {
  font-size: 1rem;
  line-height: 1.75;
  padding: 20px;
}

div.content p,
div.content ul {
  margin-bottom: 1rem;
  line-height: 1.5;
}

div.content li {
  margin-left: 1.1rem;
}

div.content a,
div.content a:active {
  transition: color 0.1s;
  color: #44b492;
}

div.content a:focus,
div.content a:hover {
  color: #44b492;
}

.highlight {
  background-color: #f0f2f2;
  padding: 3rem 0 4rem 0;
  margin-top: 3rem;
}
.highlight h2 {
  margin-top: 0;
}


/* show case */

div.showcase {
  padding: 4rem 0;
  text-align: center;
  padding-bottom: 0 !important;
  margin-bottom: 3rem;
}
div.content img {
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 15px 3px #54545433;
}
div.showcase h1 {
  line-height: 1.45;
  margin-top: 0;
  margin-bottom: 3rem;
}
div.showcase h1 > strong {
  font-weight: 900;
}
div.showcase h1 > strong:nth-last-child(-n+3) {
  color: #44b492;
}
.showcase .overview-bar {
  position: relative;
  padding: 1rem;
  margin-top: -10px;
  color: #282d28;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  flex-wrap: wrap;
}
.showcase .overview-bar .item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.showcase .overview-bar .item i {
  margin-right: .8rem;
  opacity: .8;
  font-size: .8em;
  text-decoration: none;
}
.showcase .overview-bar .item:first-child {
  color: #44b492;
}



/* other sections */

.full-features-demo {
  margin-top: 2rem;
}

img.skin-variant-demo {
  border-radius: 5px;
  margin-top: 1rem;
}

/* links */

ul.links {
  margin-bottom: 0;
}

ul.links li {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 0;
}

/* tibit */
ul.links li.bd-tib-btn a, a {
  cursor: pointer;
}
ul.links li.bd-tib-btn .posttib,
ul.links li.bd-tib-btn.tibbed .pretib  {
  display: none;
}
ul.links li.bd-tib-btn.tibbed .posttib {
  display: block;
}
ul.links li.bd-tib-btn.tibbed a {
  pointer-events: none;
  cursor: auto;
}
ul.links li.bd-tib-btn.tibbed a [class^="icon-"]{
  background-color: #A7C7A7;
}

a.download-button {
  color: #f0f2f2 !important;
  background-color: #596473;
  padding: 6px 20px;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 6px;
  display: inline-block;
  text-decoration: none;
}
.download-button i {
  margin-right: 1rem;
}

/* footer */

div#footer {
  margin-top: 5rem;
  color: white;
  padding: 2.5rem 0;
  line-height: 2rem;
  overflow: hidden;
  background-color: #2d7962;
  font-size: .85rem;
}

#footer .wrap {
  display: flex;
  align-items: center;
}
#footer .footer-content {
  flex: 1 auto;
}

div#footer a {
  color: white;
}

div#footer img.logo {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: .8rem;
  margin-left: 2rem;
}

/*
-------------------------
*/

@media screen and (max-width: 800px) {
  html, body,#root  {
    font-size: 13px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  #header #nav {
    display: none;
  }
  #header #mobile-nav {
    display: inline-block;
  }
  #header .logo {
    width: 110px;
    height: 30px;
  }
}


@keyframes slideDown{
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
